/* shared styles */
.btn-primary {
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    color: #FFF;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

.text-light-gray {
    color: #727272;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}



/* Header start*/

header , footer {
    background-color: rgb(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* baner styles */
.baner-container {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.baner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.baner img {
    width: 100%;
    margin-top: 10px;
}

/* header end */


/* main start*/
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* team section start */

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-content-title .quick-list {
    font-size: 2.8rem;
    color: #727272;
    font-weight: 500;
}

.teams-content-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

/* team section end */
/* features section start */
.features {
    margin-top: 130px;
    display: flex;
}
.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.fratures-contain,
.card {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.06);
}
.features-img img{
    height: 90%;
    margin-left: 90px;

}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
     padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
    width: 342px;
  }
.ten-years-badge h2{
    font-size: 4rem;
    margin: 0;
}
.ten-years-badge p{
    font-size: 1.5rem;
}


/* facts section start */

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title , footer {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;

}

/* facts section start */


/* sponsers section start   */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 40px;
}

.sponsors-img-container img {
    width: 165px;
}

/* sponsers section end   */

/* footer start */
.footer{
text-align: center;
}




/* responsive media queries */
/* mobile sevices  */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }
    .features-img img{
        width: 100%;
        margin-left: 0;
    }
    .ten-years-badge{
        width: 280px;
        position: static;
    }


    nav>ul {
        flex-direction: column;
    }

    .baner-title {
        font-size: 2rem;
        padding-top: 70px;
    }

    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-card-container {
        gap: 20px;
    }
    .footer{
        padding: 30px 100px;

    }

}

/* table or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {

    nav,
    .features,
     .sponsors-img-container {
        flex-direction: column;
    }

    heder {
        padding: 20px;
    }

    .teams-container {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-content {
        padding-right: 70px;
        padding-left: 70px;
    }

    .teams-content {
        padding-right: 20px;
        padding-left: 20px;
    }
    .features-img img{
        width: 100%;
        margin-left: 0;


}